body {
    padding-top: 1em;
}

code {
    max-height: 600px;
    overflow: auto;
}

article img {
    max-width: 100%;
    box-sizing: border-box;
}

ul.fa-ul {
    color: #1EAEDB;
}
ul.fa-ul .rss {
    color: #FF6600;
}
ul.fa-ul .atom {
    color: #0DC030;
}
ul.fa-ul .fa-github-square {
    color: #333;
}
ul.fa-ul .fa-twitter-square {
    color: #1DA1F2;
}


ul.tags {
    
    margin: 0;
    padding: 0;
}
ul.tags li { 
    display: inline; 
    margin-right: 10px;
}

article img {
    cursor: pointer;
}

nav figure {
    padding-top: 2em;
    margin: 0;
    font-size: 0.6em;
    text-align: center;
}

@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}