<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <input
      class="xenial__toggletheme-checkbox"
      id="xenial-toggle-theme"
      type="checkbox"
      aria-hidden="true"
    />
    <div class="xenial-body">
      {% include header.html %}
      <main>
        {{ content }}
      </main>
      {% include footer.html %}
    </div>
    <!-- <script
      id="dsq-count-scr"
      src="//delegateat.disqus.com/count.js"
      async
    ></script> -->
    <script src="/js/index.min.js"></script>
  </body>
</html>
