---
layout: default
---
<main>
    <div class="article-wrapper">
        {% include 'aside.html' %}
        <article>
            <div class="article-header">
                <div class="postdate">{% if page.nodate == true or page.layout == 'tagpage' or page.layout == 'tags' or page.layout == 'seriespage' %}&nbsp;{% else %}{{ page.date | date: "%e %B %Y"  }} by {% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}{% endif %}</div>
                <div class="comments">{% if page.comments == false %}&nbsp;{% else %}<a href="{{ page.url }}#comments">Comments {{ site.data['comments'][page.id].commentsCount | default:0 }}</a>{% endif %}</div>
                
                {% if page.github or page.nuget %}
                <ul class="badges">
                {% if page.github %}<li><a href="https://www.github.com/{{ page.author-github | default: site.author-github }}/{{ page.github }}"><img src="https://img.shields.io/github/license/{{ site.author-github }}/{{ page.github }}.svg" /></a></li>{% endif %}
                {% if page.nuget %}<li><a href="https://www.nuget.org/packages/{{ page.nuget }}"><img src="https://buildstats.info/nuget/{{ page.nuget }}" /></a></li>{% endif %}
                </ul>
                {% endif %}
            </div>
            {%if page.noheader %}{% else %}<h1>{{page.title}}</h1>{% endif %}
            <div class="postcontent">
                {{ content }}
            </div>
        </article>
    </div>
</main>
{% include 'social.html' %}

{% include 'comments.html', page_id: page.id, page_data: site.data %}
