---
layout: post
nodate: true
---
<div class="tag-page">
<ul class="tag-page__list">
{% for post in site.posts %}
  {% for tag in post.tags %}
    {% assign page_tag = page.tag | downcase %}
    {% assign current_tag = tag | downcase %}
    {% if page_tag == current_tag %}
        <li class="tag-page__list-item">
            <span class="tag-page__list-item-date">{{ post.date | date: "%Y-%m-%d" }}:</span> <a class="tag-page__list-item-link" href="{{ post.url }}">{{ post.title }}</a>
        </li>
    {% endif %}
  {% endfor %}
{% endfor %}
</ul>
</div>