<div class="comment-form {% if replyTo %} hide {% endif %}" {% if replyTo %} data-replyTo="{{ replyTo }}" {% endif %}>
    <div class="comment-form__thanks comments-thanks hide">
        <h5>Thank you</h5>
        <p>Your comment will appear in a few minutes.</p>
    </div>
    <ul class="comment-form__inputs comments-inputs">
        <li class="comment-form__inputs-listitem">
            <input data-field="id" class="comments-page-id" type="hidden" value="{{ page_id }}" />
            <input data-field="inReplyTo" class="comments-replyTo" type="hidden" value="{{ replyTo }}" />
            <input data-field="a" class="comments-a" type="hidden" />
            <input data-field="b" class="comments-b" type="hidden" />
            <input data-field="operation" class="comments-operation" type="hidden" />
            <label for="comments-name{{ replyTo }}">Name</label>
            <input data-field="name" id="comments-name{{ replyTo }}" type="text" placeholder="Name"
                required />
        </li>

        <li class="comment-form__inputs-listitem">
            <label for="comments-githubOrEmail{{ replyTo }}">Github / Email</label>
            <input data-field="githubOrEmail" id="comments-githubOrEmail{{ replyTo }}" type="text"
                placeholder="Github username or E-mail (optional)"
                title="This is only to show your github profile picture and will not be stored anywhere" />
        </li>
        <li class="comment-form__inputs-listitem">
            <label for="comments-homepage{{ replyTo }}">Homepage</label>
            <input data-field="homepage" id="comments-homepage{{ replyTo }}" type="text"
                placeholder="Your homepage or blog (optional)" />
        </li>
        <li class="comment-form__inputs-listitem">
            <label class="comments-question" for="comments-answer{{ replyTo }}"></label>
            <input data-field="answer" id="comments-answer{{ replyTo }}" type="number" required />
        </li>
        <li class="comment-form__inputs-listitem">
            <label for="comments-content{{ replyTo }}">Content</label>
            <textarea data-field="content" id="comments-content{{ replyTo }}"
                placeholder="Markdown is allowed"></textarea>
        </li>
        <li class="comment-form__inputs-listitem buttons">
            <button name="preview" class="comment-form__inputs-listitem-preview">Preview</button>
            <button name="submit" class="comment-form__inputs-listitem-submit">Submit</button>
        </li>
    </ul>
</div>