
<div class="comments-wrapper">
    <div class="comments">
        <h4 id="comments" class="comments__header">Comments</h4>
        <ul class="comments__list">
            {% for comment in page_data['comments'][page_id].comments %}
                <li class="comments__list-item">
                    <div class="comments__list-item__body">
                        <div class="comments__list-item__body-avatar">{% if comment.avatarUrl != "" %}<img src="{{ comment.avatarUrl }}" />{% else %}<i class="fas fa-user"></i>{% endif %}</div>
                        <h5 class="comments__list-item__header"><span class="comments__list-item__header-name">{{ comment.name }}</span><span class="comments__list-item__header-date">{{ comment.date  | date: "%e %B %Y %H:%M" }}</span></h5>
                        <div class="comments__list-item__content">{{ comment.content }}</div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="comments__floater"></div>
</div>