<li class="comments__list-item">
    <div class="comments__list-item__body">
        <div class="comments__list-item__body-avatar">
            {% if comment.homepage != 'null' %}
            <a href="{{ comment.homepage }}">
                {% endif %}
                {% if comment.avatarUrl != "" and comment.avatarUrl != "null" %}
                <img src="{{ comment.avatarUrl }}" />
                {% else %}
                <i class="fas fa-user"></i>
                {% endif %}
                {% if comment.homepage != "null" %}
            </a>
            {% endif %}
        </div>

        <h5 class="comments__list-item__header">
            {% if comment.homepage != 'null' %}
            <a href="{{ comment.homepage }}">
                {% endif %}
                <span class="comments__list-item__header-name">{{ comment.name }}</span>
                {% if comment.homepage != "null" %}
            </a>
            {% endif %}

            <span class="comments__list-item__header-date">
                {{ comment.date  | date: "%e %b %Y %H:%M" }}
            </span>

            {% comment %}
            <div class="comments__list-item__buttons"><i class="fas fa-pencil-alt"></i><i class="fas fa-trash-alt"></i>
            </div>
            {% endcomment %}
        </h5>

        <div class="comments__list-item__body__content">
            {{ comment.content | markdown }}
        </div>

        {% if comment.isLast %}
        <div class="comments__list-item__links">
            <button name="comments-reply" data-replyTo="{{ comment.replyTo }}"><i class="fas fa-reply"></i> Reply</button>
        </div>
        {% endif %}

        {% if comment.isLast and comment.replyTo %}{% include 'comment-form.html', replyTo: comment.replyTo %}{% endif %}
    </div>

    {% if comment.comments and comment.comments.size > 0 %}
    <ul class="comments__list">
        {% for c in comment.comments %}
        {% include "comments-list-item.html", comment: c %}
        {% endfor %}
    </ul>
    {% endif %}

    {% if comment.isRoot == true and comment.isLast %}
    <ul class="comments__list hide">
        {% include 'comments-list-item-preview.html', replyTo: comment.replyTo %}
    </ul>
    {% endif %}
</li>

{% if comment.isRoot == false and comment.isLast and comment.replyTo %}

{% include 'comments-list-item-preview.html', replyTo: comment.replyTo %}

{% endif %}