<footer class="xenial-footer">
  <div class="xenial-footer__fineprint">
    <p class="xenial-footer__fineprint-love">
      <span>Made with <i class="fas fa-heart green"></i><i class="fas fa-heart red"></i><i class="fas fa-heart"></i><i class="fas fa-heart red"></i><i class="fas fa-heart green"></i> in <a href="https://www.google.at/maps/place/Steiermark/@47.219506,14.3067507,9z/data=!3m1!4b1!4m5!3m4!1s0x476e3578b82d0251:0xd005e47efb227d34!8m2!3d47.3593442!4d14.4699827" target="_blank">Austria</a></span>
    </p>
    <ul class="xenial-footer__fineprint-imprint">
      <li><a href="/license">Licenses</a></li>
      <li><a href="#">Imprint</a></li>
    </ul>
    <p class="xenial-footer__fineprint-terms">
      Use of this site constitutes acceptance of our
      <a href="#">Website Terms of Use</a>
      and
      <a href="#">Privacy Policy</a>
      <br />
      Copyright © 2012-{{ site.last-update | date: "%Y" }} Manuel Grundner. All
      trademarks or registered trademarks are property of their respective
      owners
    </p>
    <p class="xenial-footer__fineprint-githash" aria-hidden="true">
      <a
        href="{{ site.site-repo }}/commit/{{ site.commit }}"
        title="Version: '{{ site.version }}' Last update: '{{ site.last-update }}' Sha: '{{ site.commit }}'"
      >
        {{site.version}} - {{site.last-update}}
      </a>
    </p>
  </div>
</footer>
