<header class="xenial-header">
  <input
    class="xenial-header__togglenavbar-checkbox"
    id="xenial-toggle-navbar"
    type="checkbox"
    aria-hidden="true"
  />
  <div class="xenial-header__logo__teaser" aria-hidden="true">
    <img src="./img/logo.svg" />
    <span class="xenial-header__logo__teaser__brand-rows">
      <span class="xenial-header__logo__teaser__brand-first-row">
        Manuel Grundner
      </span>
      <span class="xenial-header__logo__teaser__brand-second-row">
        code & consult
      </span>
    </span>
  </div>
  <div class="xenial-header__logo">
    <img src="./img/logo.svg" />
    <span class="xenial-header__logo__brand-rows">
      <span class="xenial-header__logo__brand-first-row">
        Manuel Grundner
      </span>
      <span class="xenial-header__logo__brand-second-row">
        code & consult
      </span>
    </span>
  </div>
  <label class="xenial-header__togglenavbar-label" for="xenial-toggle-navbar">
    <div>
      <span class="middle">
        <span class="before"></span>
        <span class="after"></span>
      </span>
    </div>
  </label>
  <nav class="xenial-header__nav">
    <ul class="xenial-header__navlist">
      {% include header_links.html %}
    </ul>
  </nav>
</header>
