<li>
  <a href="/" aria-label="Home">
    <i class="fas fa-home"></i>
    Home
  </a>
</li>
<li>
  <a href="/about">
    <i class="fas fa-info-circle"></i>
    About
  </a>
</li>
<li>
  <a href="/projects">
    <i class="fas fa-briefcase"></i>
    Projects
  </a>
</li>
<li>
  <a
    href="/series"
    title="Series: Posts that are part of a series"
    aria-label="Series"
  >
    <i class="fas fa-book" aria-hidden="true"></i>
    <span aria-hidden="true" class="collapse-lg">Series</span>
  </a>
</li>
<li>
  <a
    href="/archive"
    title="Archive: Posts in chronological order"
    aria-label="Archive"
  >
    <i class="fas fa-archive" aria-hidden="true"></i>
    <span aria-hidden="true" class="collapse-lg">Archive</span>
  </a>
</li>
<li>
  <a href="/tags" title="Tags: Browse posts in categories" aria-label="Tags">
    <i class="fas fa-tag" aria-hidden="true"></i>
    <span aria-hidden="true" class="collapse-lg">Tags</span>
  </a>
</li>
<li>
  <label
    for="xenial-toggle-theme"
    title="Turn the lights on/off"
    aria-label="Theme"
  >
    <i class="xenial-theme-indicator"></i>
    <span class="xenial-theme-text" aria-hidden="true">Theme</span>
  </label>
</li>
