<div class="project-card">
    <div class="project-card__img"><a href="{{ project_url }}" target="_blank"><img src="{{ project_img }}"
                alt="{{ project_name }} logo" /></a></div>
    <h1 class="project-card__header">
        <a href="{{ project_url }}" target="_blank">{{ project_name }}</a>
    </h1>
    <p class="project-card__description">
        {{ project_description }}
    </p>
    <div class="project-card__social">
        <a href="{{ project_github_url }}" target="_blank"><i class="fab fa-github"></i> GitHub</a>
        <a href="{{project_nuget_url }} " target="_blank"><span class="nuget">&nbsp;</span> Nuget</a>
        <a href="tags/{{ project_tag }}" target="_blank"><i class="fas fa-tag"></i> Blog</a>
    </div>
    <a class="project-card__button" target="_blank" href="{{ project_support_url }}"><i class='fa fa-heart fa-beat'></i>
        Support the project</a>
    <div class="project-card__footer">
        <div class="project-card__footer-likes">
            <a href="{{ project_github_url }}/stargazers" target="_blank">
                <span><i class='fa fa-star'></i></span>
                <span>{{ project_github_stargazers | default: 0 }}</span>
            </a>
        </div>
        <div class="project-card__footer-watches">
            <a href="{{ project_github_url }}/network/members" target="_blank">
                <span><i class="fas fa-code-branch"></i></span>
                <span>{{ project_github_forks | default: 0 }}</span>
            </a>
        </div>
        <div class="project-card__footer-watches">
            <a href="{{ project_github_url }}/watchers" target="_blank">
                <span><i class='fa fa-eye'></i></span>
                <span>{{ project_github_watchers | default: 0 }}</span>
            </a>
        </div>
    </div>
</div>