<div class="xenial__social">
    <h3>Learned something new?</h3>
    <p>Consider supporting me on the following platforms</p>
    <ul class="xenial__social-links">
        <li>
            <a href="https://github.com/sponsors/biohazard999">
                <i class="fab fa-github"></i>
            </a>
        </li>
        <li>
            <a href="https://www.patreon.com/biohaz999">
                <i class="fab fa-patreon"></i>
            </a>
        </li>
        <li>
            <a href="https://www.buymeacoffee.com/mgrundner">
                <i class="fas fa-beer"></i>
            </a>
        </li>
        <li class="break" aria-hidden="true"></li>
        <li>
            <a href="https://twitter.com/biohaz999">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="/rss.xml"><i class="fas fa-rss-square"></i></a>
        </li>
        <li>
            <a href="/atom.xml"><i class="fas fa-atom"></i></a>
        </li>
    </ul>
</div>