---
layout: layout
title: Blog Series
---
<h1>{{ page.title }}</h1>

<input type="text" id="searchbox" />

<ul class="postArchive" id="searchlist">
{% for post in site.pages %}
	{% if post.seriesid and post.seriesid != " " %}
		<li>
			<a href="/series/{{ post.seriesid }}">{{ post.title }}</a>
			<ul>
				{% for p in site.posts %}
				{% if post.seriesid == p.series %}
				<li>
					<span class="olderpostdate">{{ post.date | date: "%Y-%m-%d"  }}</span>: <a href="{{ p.url }}">{{ p.title }}</a>
				</li>
					{% endif %}
				{% endfor %}
			</ul>
		</li>
	{% endif %} 
{% endfor %}
</ul>