---
 layout: default
 title: blog.delegate.at
 nodate: true
 noheader: true
 nohistory: false
 isindex: true
---

<div class="index">
    <div class="index__article-list">
        {% for post in site.posts limit:5 %}
            <article class="index__article-item">
                <div class="article-header">
                    <div class="postdate">{{ post.date | date: "%e %B %Y"  }} by {% if post.author %}{{ post.author }}{% else %}{{ site.author }}{% endif %}</div>
                </div>
                <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
                {{ post.excerpt }}
                <div class="index__article-item-readmore">
                    <a href="{{ post.url }}">Read more...</a>
                </div>
            </article>
        {% endfor %}
    </div>
</div>
<!-- <script id="dsq-count-scr" src="//{{ site.disqus-shortname }}.disqus.com/count.js" async></script> -->