.xenial-body {
  main {
    article {
      margin-bottom: 4rem;

      .postdate {
        display: flex;
        flex-direction: column;
        &__date,
        &__comments {
          display: inline-block;
        }
      }
      @media (min-width: 768px) {
        .postdate {
          display: block;

          &__date,
          &__comments {
            display: inline;
          }
          &__comments {
            &::before {
              content: " | ";
            }
          }
        }
      }

      .article-header {
        display: flex;
        margin: {
          top: 0.5rem;
          bottom: 1rem;
        }
      }
      .badges {
        list-style: none;
        display: flex;
        padding: 0;
        flex-wrap: wrap;
        align-content: flex-end;
        flex-direction: row-reverse;

        margin: {
          left: auto;
          top: auto;
          bottom: auto;
        }

        li {
          img {
            margin: 0;
            margin-left: 0.2rem;
            padding-top: 0.2rem;
          }
          &::before {
            content: none;
          }
        }
      }
    }
  }
}
@media (min-width: 768px) {
  main {
    article {
      &:first-child {
        padding-top: 1.5rem;
      }
      &:last-child {
        padding-bottom: 1rem;
      }
    }
  }
}
