.xenial-body {
  main {
    article {
      margin-bottom: 4rem;

      .postdate {
        display: flex;
        flex-direction: column;
        &__date,
        &__comments {
          display: inline-block;
        }
      }
      @media (min-width: 768px) {
        .postdate {
          display: block;

          &__date,
          &__comments {
            display: inline;
          }
          &__comments {
            &::before {
              content: " | ";
            }
          }
        }
      }

      .article-header {
        display: flex;
        margin: {
          top: 0.5rem;
          bottom: 1rem;
        }
      }
      .badges {
        list-style: none;
        display: flex;
        padding: 0;
        flex-wrap: wrap;
        align-content: flex-end;
        flex-direction: row-reverse;

        margin: {
          left: auto;
          top: auto;
          bottom: auto;
        }

        li {
          img {
            margin: 0;
            margin-left: 0.2rem;
            padding-top: 0.2rem;
          }
          &::before {
            content: none;
          }
        }
      }
    }
  }

  .comments-wrapper {
    --margin-left: calc(1.1rem / 2);
    background-color: var(--xenial-darker-color);
    color: var(--xenial-light-color);
    padding-left: var(--margin-left);
    padding-right: var(--margin-left);
    display: flex;

    .comments {
      max-width: 686px;
      flex: 1 1 0%;
      margin: {
        left: auto;
        right: auto;
      }

      &__header {
        margin: {
          top: 2rem;
          bottom: 1rem;
        }
      }

      &__list {
        &-item {
          .comment-form {
            margin: {
              left: 2rem;
              right: 2rem;
            }
          }

          @media (min-width: 768px) {
            .comment-form {
              margin-top: 1rem;
              margin-left: 1.5rem;
            }
          }

          a:link,
          a:visited,
          a:active {
            color: var(--xenial-lighter-color);

            &:hover {
              text-decoration: none;
            }
          }

          list-style: none;

          background-color: var(--highlight-bg);
          border-left: var(--xenial-highlight-color) solid 3px;

          &.preview {
            border-color: var(--xenial-secondary-color);
          }

          border-radius: 0.5rem;
          border-bottom-left-radius: 3px;

          margin: {
            top: 2rem;
            bottom: 1rem;
            left: 1rem;
          }

          &__header {
            display: flex;
            flex-wrap: wrap;
            &-date {
              margin-left: auto;
              font-weight: normal;
            }

            &-name {
              font-size: 1rem;
            }
          }

          &__buttons {
            margin-right: -1rem;
            margin-left: 0.5rem;
            padding-left: 0.5rem;

            :last-child {
              margin-left: 0.5rem;
            }
          }

          &__links {
            display: flex;
            flex-direction: row;
            align-content: flex-end;
            justify-content: flex-end;
            margin-right: -1rem;
          }

          &__body {
            position: relative;
            word-break: break-word;

            padding: {
              top: 0.5rem;
              left: 2rem;
              right: 2rem;
              bottom: 0.5rem;
            }

            &__content {
              p {
                margin-bottom: 0.5rem;

                a[href^="http"]::after,
                a[href^="//"]::after
                {
                  font-family: "Font Awesome 5 Free";
                  content: " \f35d";
                  font-weight: 900;
                  font-size: 0.8rem;
                }
              }

              img {
                display: block;
                height: auto;
                max-width: 100%;
                border-radius: 0.5rem;
                cursor: pointer;
                margin-top: 1rem;
                margin-bottom: 1rem;
              }

              ol {
                list-style: none;
                counter-reset: listing;
                padding: {
                  left: 1rem;
                  top: 0.5rem;
                  bottom: 0.5rem;
                }
              }

              ol li {
                counter-increment: listing;
              }

              ol li::before {
                content: counters(listing, ".") ". ";
                color: var(--xenial-secondary-color);
                font-weight: bold;
                min-width: 1.5rem;
                display: inline-block;
                padding-right: 0.2rem;
              }

              ul {
                list-style: none;
                padding: {
                  left: 2rem;
                  top: 0.5rem;
                  bottom: 0.5rem;
                }

                li {
                  ul {
                    padding: {
                      left: 1.25rem;
                    }
                  }
                  position: relative;

                  &::before {
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    font-family: "Font Awesome 5 Free";
                    content: "\f111 ";
                    color: var(--xenial-secondary-color);
                    font-weight: bold;
                    transform: scale(0.5, 0.5);
                    display: inline-flex;
                    position: absolute;
                    left: -1.5rem;
                    top: 0.5rem;
                  }
                }
              }

              @mixin inline-code {
                background-color: var(--xenial-darker-color);
                border-radius: 2px;
                display: inline-block;
                padding-left: 0.2rem;
                padding-right: 0.2rem;
                font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
                  monospace;
                direction: ltr;
                text-align: left;
                word-spacing: normal;
                word-break: break-all;
              }

              p {
                a:hover {
                  text-decoration: none;
                }

                code {
                  @include inline-code;
                }
              }

              li code {
                @include inline-code;
              }

              blockquote {
                background-color: var(--highlight-bg);
                border-left: var(--xenial-highlight-color) solid 3px;
                border-radius: 0;

                margin: {
                  top: 0.75rem;
                  bottom: 0.75rem;
                  left: 0.5rem;
                }

                p {
                  padding: {
                    top: 0.25rem;
                    left: 1rem;
                    right: 0.5rem;
                    bottom: 0.25rem;
                  }
                }
              }
            }

            &-avatar {
              position: absolute;
              font-style: normal;
              font-variant: normal;
              text-rendering: auto;
              font-weight: 400;
              color: var(--xenial-highlight-color);
              background-color: var(--xenial-darker-color);
              top: 0px;
              left: 0px;
              transform: translate(-50%, -50%);
              border-radius: 50%;
              padding: 8px;

              img {
                display: block;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                margin: 0;
                padding: 0;
                border: none;
              }

              i.fas {
                display: flex;
                border-radius: 50%;
                color: var(--xenial-darker-color);
                background-color: var(--xenial-highlight-color);
                margin: 0;
                padding: 0;
                border: none;
                width: 2rem;
                height: 2rem;
                justify-content: center;
                align-items: center;
              }
            }
          }

          .comments__list {
            transform: translateX(-4px);
            margin-right: -4px;
            padding-left: calc(0.5rem - 2px);
            background-color: var(--xenial-darker-color);

            .comments__list-item {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }

            .comments__list-item:not(:first-child) {
              margin-top: -1rem;
            }

            .comments__list-item:last-child {
              border-bottom-right-radius: 0.5rem;
            }

            .comments__list-item__body-avatar {
              transform: translate(calc(-50% + 3px), calc(-25% + 3px));
            }

            .comments__list-item__body-avatar::before {
              position: absolute;
              content: "";
              bottom: -1px;
              left: 0;
              right: 0;
              top: -1px;
              z-index: -1;
              border: 3px solid var(--xenial-highlight-color);
              border-top-left-radius: 999999px; /* 100px of height + 10px of border */
              border-bottom-left-radius: 999999px; /* 100px of height + 10px of border */
              border-right: 0;
              border-right: 0;
              clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
              transform: translate(-3px, 0);
            }

            .comments__list-item__body-avatar.preview::before {
              border-color: var(--xenial-secondary-color);
            }

            .comments__list-item:first-child .comments__list-item__body-avatar {
              transform: translate(calc(-50% + 3px), calc(-50% + 3px));
            }

            .comments__list-item:first-child
              .comments__list-item__body-avatar::before {
              position: absolute;
              content: "";
              bottom: 1px;
              left: 0;
              border-radius: 0 0 0 50%;
              right: 0;
              top: 1px;
              z-index: -1;
              border: 3px solid var(--xenial-highlight-color);
              border-top: 0;
              border-right: 0;
              clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
              transform: translate(-3px, 3px);
            }
          }
        }
      }
    }

    .comments__floater {
      width: 220px;
      padding: {
        left: 128px;
        bottom: 1rem;
      }
      display: none;
      position: sticky;
      max-height: 100vh;
      overflow: hidden;
      overflow-y: auto;
      top: 0;

      &::after {
        content: "";
        padding-bottom: 3rem;
        display: inline-block;
      }
    }
    @media (min-width: 1099px) {
      .comments__floater {
        display: block;
      }
    }
  }
}

@media (min-width: 768px) {
  .xenial-body {
    .comments-wrapper {
      .comments {
        &__header {
          margin-left: calc(-1rem + 4px);
        }

        &__list {
          &-item {
            margin-left: 0;
          }

          .comments__list {
            padding-left: calc(1.5rem - 2px);
          }
        }
      }
    }
  }

  main {
    article {
      &:first-child {
        padding-top: 1.5rem;
      }
      &:last-child {
        padding-bottom: 1rem;
      }
    }
  }
}
