@mixin fa-beat {
  animation: fa-beat 3s ease infinite;
}

@keyframes fa-beat {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.25);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1);
  }
  55% {
    transform: scale(1.25);
  }
  70% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.25);
  }
}

.project-card {
  max-width: 350px;
  padding: 20px;
  border-radius: 5px;
  background: var(--xenial-darker-color);
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  &__img {
    height: 5rem;
    width: 5rem;
    position: absolute;
    top: -25px;
    left: -25px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: 3px solid var(--xenial-highlight-color);
    background: var(--highlight-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a,
    img {
      display: block;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      img {
        padding: 0.6rem;
      }
    }
  }
  &__header {
    text-align: center;
    margin-bottom: 20px;
    color: var(--xenial-lighter-color);
  }
  &__description {
    margin-bottom: 20px;
  }
  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    margin: 0 auto;
    a {
      text-align: center;
      border: solid 2px --xenial-highlight-color;
      width: 75px;
      padding: 5px 0;
      border-radius: 5px;
      &:hover {
        background: --xenial-highlight-color;
        text-decoration: none;
      }
      span.nuget {
        width: 1rem;
        background-color: var(--xenial-lighter-color);
        -webkit-mask: url(/img/nuget.svg) no-repeat center;
        mask: url(/img/nuget.svg);
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
      }
    }
  }

  &__button {
    display: block;
    width: 80%;
    font-size: 1.5rem;
    text-align: center;
    margin: {
      left: auto;
      right: auto;
      top: 1rem;
      bottom: 2rem;
    }
    border: none;
    border-radius: 5px;
    background: var(--xenial-austria-red-color);
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-bottom: 0.4rem;
    text-decoration: none;
    color: #ffffff;
    &:link,
    &:hover,
    &:visited {
      color: #ffffff;
    }
    &:hover {
      .fa-beat {
        @include fa-beat;
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--xenial-body-bg-color);
    color: var(--xenial-lighter-color);
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 30px;
    padding: 0 20px;
    margin-left: -20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    a,
    a:link,
    a:visited {
      text-decoration: none;

      &:hover {
        .fa,
        .fas {
          @include fa-beat;
        }
      }
    }

    div {
      display: flex;
      .fa,
      .fas {
        &:hover {
          @include fa-beat;
        }
      }
      span:first-child {
        &::after {
          content: "|";
          color: var(--xenial-darker-color);
          margin: {
            left: 5px;
            right: 5px;
          }
        }
      }
    }
  }
}
