@import "search";

.tag-overview {
  @include search-box;

  &__list {
    &-item {
      transition: transform var(--xenial-anim-s2) ease-in,
        height var(--xenial-anim-s3) ease-in-out,
        width var(--xenial-anim-s3) ease-in-out;

      transform: scale(1, 1);
      transform-origin: left;

      &::before {
        content: none;
      }
    }
    &-item.visible {
      transform: scale(1, 1);
    }
    &-item.hidden {
      transform: scale(0, 0);
      height: 0;
      width: 0;
    }
  }
}
