---
layout: default
title: Projects
---
<main>
    <div class="article-wrapper">
        <div class="projects">
            <ul class="projects__list">
                <li class="projects__list-item">
                    {% include 'project_card.html', project_name: 'Tasty', project_img: '/img/projects/tasty-logo.svg', project_url: 'https://tasty.xenial.io', project_support_url: 'https://tasty.xenial.io/support', project_github_url: 'https://www.github.com/xenial-io/Tasty', project_tag: 'Tasty', project_nuget_url: 'https://www.nuget.org/packages/Xenial.Tasty/', project_description: "Tasty is a delicious .NET Testing Framework with a focus on simplicity, great UX and extensibility. <br><br> It works with any project, but projects using: aspnetcore, Blazor ServerSide, Blazor WASM, console applications, XAF are the most delicious!" %}
                </li>
                <li class="projects__list-item">
                    {% include 'project_card.html', project_name: 'Xenial.Framework', project_img: '/img/projects/xenial-framework-logo.svg', project_url: 'https://www.xenial.io', project_support_url: 'https://www.xenial.io/buy', project_github_url: 'https://www.github.com/xenial-io/Xenial.Framework', project_tag: 'Xenial', project_nuget_url: 'https://www.nuget.org/packages/Xenial.Framework.All/', project_description: "Extensions for the DevExpress ExpressApp Framework - Easy. Flexible. Focused." %}
                </li>
            </ul>
        </div>
    </div>
</main>