<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		<div class="container">
            <div class="row">
                <div class="nine columns">
                    {{content}}
                </div>
                <nav class="three columns">
                    <a href="/" id="home" title="home" alt="home"><img src="/img/logo.png" class="u-max-full-width" /></a>
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-home"></i> <a href="/" >Home</a></li>
                        <li><i class="fa-li fa fa-info"></i> <a href="/about" >About</a></li>
                        <li><i class="fa-li fa fa-archive"></i> <a href="/archive" >Archive</a></li>
                        <li><i class="fa-li fa fa-tag"></i> <a href="/tags" >Tags</a></li>
                        <li><i class="fa-li fa fa-trophy"></i> <a href="/achievements" >Achievements</a></li>
                        <li><i class="fa-li fa fa-github-square"></i> <a href="//github.com/biohazard999/" target="_blank">Github</a></li>
                        <li><i class="fa-li fa fa-twitter-square"></i> <a href="//twitter.com/biohaz999" target="_blank">Twitter</a></li>
                        <li><i class="fa-li fa fa-rss-square rss"></i> <a href="/rss.xml" >RSS</a></li>
                        <li><i class="fa-li fa fa-rss-square atom"></i> <a href="/atom.xml" >Atom</a></li>
                    </ul>
                    <figure>
                        <a href="https://www.devexpress.com/Home/Community/mvp.xml" target="_blank">
                            <img src="/img/DevExpress-Logo-Large-Color.png" title="DevExpress-MVP" alt="DevExpress-MVP" />
                            <figcaption>I am an DevExpress MVP</figcaption>
                        </a>
                    </figure>
                </nav>
            </div>
		</div>
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="//cdn.rawgit.com/noelboss/featherlight/1.3.5/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
        <script>           
            $(function() {
                $('article img').featherlight({
                    targetAttr: 'src'
                });  
            });            
        </script>
	</body>
</html>