<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		<div class="container">
            <div class="row">
                <div class="ten columns">
                    {{content}}
                </div>
                <nav class="two columns">
                    <a href="/" id="home" title="home" alt="home"><img src="/img/logo.png" alt="Site Name" /></a>
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-home"></i> <a href="/" >Home</a></li>
                        <li><i class="fa-li fa fa-info"></i> <a href="/about.html" >About</a></li>
                        <li><i class="fa-li fa fa-archive"></i> <a href="/archive.html" >Archive</a></li>
                        <li><i class="fa-li fa fa-trophy"></i> <a href="/vs-achievements.html" >Achievements</a></li>                        
                        <li><i class="fa-li fa fa-rss-square rss"></i> <a href="/rss.xml" >RSS</a></li>
                        <li><i class="fa-li fa fa-rss-square atom"></i> <a href="/atom.xml" >Atom</a></li>
                    </ul>                    
                </nav>
            </div>
		</div>
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="//cdn.rawgit.com/noelboss/featherlight/1.3.5/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
        <script>           
            $(function() {
                $('article img').featherlight({
                    targetAttr: 'src'
                });    
            });            
        </script>
	</body>
</html>